testdata/xmp-rng/XMP_Properties-exif.rng

<?xml version="1.0" encoding="utf-8"?>
<!-- SPDX-FileCopyrightText: (C) 2025 Francesco Pretto <ceztko@gmail.com> -->
<!-- SPDX-License-Identifier: MIT OR LicenseRef-ISO16684_2-2014-schema -->
<rng:grammar xmlns:exif="http://ns.adobe.com/exif/1.0/" xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:ui="http://ns.iso.org/iso-16684-2/xmp-schema-ui-info/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <rng:include href="ISO16684-1_Types-Simple.rng"/>
    <rng:include href="ISO16684-1_Types-Array.rng"/>
    <rng:include href="ISO16684-1_Types-Structure.rng"/>

    <rng:define name="XMP_Properties-exif" combine="choice">
        <rng:interleave>
            <rng:optional>
                <rng:ref name="exif.ExifVersion"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.FlashpixVersion"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.ColorSpace"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.ComponentsConfiguration"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.CompressedBitsPerPixel"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.PixelXDimension"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.PixelYDimension"/>
            </rng:optional>
            <rng:optional condition="$IsPDFA1">
                <rng:ref name="exif.MakerNote"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.UserComment"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.RelatedSoundFile"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.DateTimeOriginal"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.DateTimeDigitized"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.ExposureTime"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.FNumber"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.ExposureProgram"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.SpectralSensitivity"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.ISOSpeedRatings"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.OECF"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.ShutterSpeedValue"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.ApertureValue"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.BrightnessValue"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.ExposureBiasValue"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.MaxApertureValue"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.SubjectDistance"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.MeteringMode"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.LightSource"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.Flash"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.FocalLength"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.SubjectArea"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.FlashEnergy"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.SpatialFrequencyResponse"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.FocalPlaneXResolution"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.FocalPlaneYResolution"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.FocalPlaneResolutionUnit"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.SubjectLocation"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.ExposureIndex"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.SensingMethod"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.FileSource"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.SceneType"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.CFAPattern"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.CustomRendered"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.ExposureMode"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.WhiteBalance"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.DigitalZoomRatio"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.FocalLengthIn35mmFilm"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.SceneCaptureType"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.GainControl"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.Contrast"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.Saturation"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.Sharpness"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.DeviceSettingDescription"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.SubjectDistanceRange"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.ImageUniqueID"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.GPSVersionID"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.GPSLatitude"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.GPSLongitude"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.GPSAltitudeRef"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.GPSAltitude"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.GPSTimeStamp"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.GPSSatellites"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.GPSStatus"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.GPSMeasureMode"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.GPSDOP"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.GPSSpeedRef"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.GPSSpeed"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.GPSTrackRef"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.GPSTrack"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.GPSImgDirectionRef"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.GPSImgDirection"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.GPSMapDatum"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.GPSDestLatitude"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.GPSDestLongitude"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.GPSDestBearingRef"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.GPSDestBearing"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.GPSDestDistanceRef"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.GPSDestDistance"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.GPSProcessingMethod"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.GPSAreaInformation"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="exif.GPSDifferential"/>
            </rng:optional>
        </rng:interleave>
    </rng:define>

    <rng:define name="exif.ExifVersion" combine="choice"> 
        <rng:element name="exif:ExifVersion"> 
            <rng:ref name="exif.ExifVersion.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.FlashpixVersion" combine="choice"> 
        <rng:element name="exif:FlashpixVersion"> 
            <rng:ref name="exif.FlashpixVersion.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.ColorSpace" combine="choice"> 
        <rng:element name="exif:ColorSpace"> 
            <rng:ref name="exif.ColorSpace.QValue" />
        </rng:element>
    </rng:define>

    <!-- CHECK-ME: How we can validate it better? -->
    <rng:define name="exif.ComponentsConfiguration" combine="choice"> 
        <rng:element name="exif:ComponentsConfiguration"> 
            <rng:ref name="ISO16684-1.Types.QValue.OrderedArray.Integer" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.CompressedBitsPerPixel" combine="choice"> 
        <rng:element name="exif:CompressedBitsPerPixel"> 
            <rng:ref name="ISO16684-1.Types.QValue.Rational" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.PixelXDimension" combine="choice"> 
        <rng:element name="exif:PixelXDimension"> 
            <rng:ref name="ISO16684-1.Types.QValue.Integer" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.PixelYDimension" combine="choice"> 
        <rng:element name="exif:PixelYDimension"> 
            <rng:ref name="ISO16684-1.Types.QValue.Integer" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.MakerNote" combine="choice"> 
        <rng:element name="exif:MakerNote"> 
            <rng:ref name="ISO16684-1.Types.QValue.Text" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.UserComment" combine="choice"> 
        <rng:element name="exif:UserComment"> 
            <rng:ref name="ISO16684-1.Types.QValue.LanguageAlternative" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.RelatedSoundFile" combine="choice"> 
        <rng:element name="exif:RelatedSoundFile"> 
            <rng:ref name="ISO16684-1.Types.QValue.Text" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.DateTimeOriginal" combine="choice"> 
        <rng:element name="exif:DateTimeOriginal"> 
            <rng:ref name="ISO16684-1.Types.QValue.Date" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.DateTimeDigitized" combine="choice"> 
        <rng:element name="exif:DateTimeDigitized"> 
            <rng:ref name="ISO16684-1.Types.QValue.Date" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.ExposureTime" combine="choice"> 
        <rng:element name="exif:ExposureTime"> 
            <rng:ref name="ISO16684-1.Types.QValue.Rational" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.FNumber" combine="choice"> 
        <rng:element name="exif:FNumber"> 
            <rng:ref name="ISO16684-1.Types.QValue.Rational" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.ExposureProgram" combine="choice"> 
        <rng:element name="exif:ExposureProgram"> 
            <rng:ref name="exif.ExposureProgram.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.SpectralSensitivity" combine="choice"> 
        <rng:element name="exif:SpectralSensitivity"> 
            <rng:ref name="ISO16684-1.Types.QValue.Text" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.ISOSpeedRatings" combine="choice"> 
        <rng:element name="exif:ISOSpeedRatings"> 
            <rng:ref name="ISO16684-1.Types.QValue.OrderedArray.Integer" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.OECF" combine="choice"> 
        <rng:element name="exif:OECF"> 
            <rng:ref name="exif.OECF_SFR.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.ShutterSpeedValue" combine="choice"> 
        <rng:element name="exif:ShutterSpeedValue"> 
            <rng:ref name="ISO16684-1.Types.QValue.Rational" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.ApertureValue" combine="choice"> 
        <rng:element name="exif:ApertureValue"> 
            <rng:ref name="ISO16684-1.Types.QValue.Rational" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.BrightnessValue" combine="choice"> 
        <rng:element name="exif:BrightnessValue"> 
            <rng:ref name="ISO16684-1.Types.QValue.Rational" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.ExposureBiasValue" combine="choice"> 
        <rng:element name="exif:ExposureBiasValue"> 
            <rng:ref name="ISO16684-1.Types.QValue.Rational" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.MaxApertureValue" combine="choice"> 
        <rng:element name="exif:MaxApertureValue"> 
            <rng:ref name="ISO16684-1.Types.QValue.Rational" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.SubjectDistance" combine="choice"> 
        <rng:element name="exif:SubjectDistance"> 
            <rng:ref name="ISO16684-1.Types.QValue.Rational" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.MeteringMode" combine="choice"> 
        <rng:element name="exif:MeteringMode"> 
            <rng:ref name="exif.MeteringMode.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.LightSource" combine="choice"> 
        <rng:element name="exif:LightSource"> 
            <rng:ref name="exif.LightSource.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.Flash" combine="choice"> 
        <rng:element name="exif:Flash"> 
            <rng:ref name="exif.Flash.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.FocalLength" combine="choice"> 
        <rng:element name="exif:FocalLength"> 
            <rng:ref name="ISO16684-1.Types.QValue.Rational" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.SubjectArea" combine="choice"> 
        <rng:element name="exif:SubjectArea"> 
            <rng:ref name="ISO16684-1.Types.QValue.OrderedArray.Integer" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.FlashEnergy" combine="choice"> 
        <rng:element name="exif:FlashEnergy"> 
            <rng:ref name="ISO16684-1.Types.QValue.Rational" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.SpatialFrequencyResponse" combine="choice"> 
        <rng:element name="exif:SpatialFrequencyResponse"> 
            <rng:ref name="exif.OECF_SFR.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.FocalPlaneXResolution" combine="choice"> 
        <rng:element name="exif:FocalPlaneXResolution"> 
            <rng:ref name="ISO16684-1.Types.QValue.Rational" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.FocalPlaneYResolution" combine="choice"> 
        <rng:element name="exif:FocalPlaneYResolution"> 
            <rng:ref name="ISO16684-1.Types.QValue.Rational" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.FocalPlaneResolutionUnit" combine="choice"> 
        <rng:element name="exif:FocalPlaneResolutionUnit"> 
            <rng:ref name="exif.FocalPlaneResolutionUnit.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.SubjectLocation" combine="choice"> 
        <rng:element name="exif:SubjectLocation"> 
            <rng:ref name="ISO16684-1.Types.QValue.OrderedArray.Integer" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.ExposureIndex" combine="choice"> 
        <rng:element name="exif:ExposureIndex"> 
            <rng:ref name="ISO16684-1.Types.QValue.Rational" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.SensingMethod" combine="choice"> 
        <rng:element name="exif:SensingMethod"> 
            <rng:ref name="exif.SensingMethod.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.FileSource" combine="choice"> 
        <rng:element name="exif:FileSource"> 
            <rng:ref name="exif.FileSource.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.SceneType" combine="choice"> 
        <rng:element name="exif:SceneType"> 
            <rng:ref name="exif.SceneType.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.CFAPattern" combine="choice"> 
        <rng:element name="exif:CFAPattern"> 
            <rng:ref name="exif.CFAPattern.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.CustomRendered" combine="choice"> 
        <rng:element name="exif:CustomRendered"> 
            <rng:ref name="exif.CustomRendered.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.ExposureMode" combine="choice"> 
        <rng:element name="exif:ExposureMode"> 
            <rng:ref name="exif.ExposureMode.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.WhiteBalance" combine="choice"> 
        <rng:element name="exif:WhiteBalance"> 
            <rng:ref name="exif.WhiteBalance.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.DigitalZoomRatio" combine="choice"> 
        <rng:element name="exif:DigitalZoomRatio"> 
            <rng:ref name="ISO16684-1.Types.QValue.Rational" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.FocalLengthIn35mmFilm" combine="choice"> 
        <rng:element name="exif:FocalLengthIn35mmFilm"> 
            <rng:ref name="ISO16684-1.Types.QValue.Integer" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.SceneCaptureType" combine="choice"> 
        <rng:element name="exif:SceneCaptureType"> 
            <rng:ref name="exif.SceneCaptureType.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.GainControl" combine="choice"> 
        <rng:element name="exif:GainControl"> 
            <rng:ref name="exif.GainControl.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.Contrast" combine="choice"> 
        <rng:element name="exif:Contrast"> 
            <rng:ref name="exif.Contrast.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.Saturation" combine="choice"> 
        <rng:element name="exif:Saturation"> 
            <rng:ref name="exif.Saturation.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.Sharpness" combine="choice"> 
        <rng:element name="exif:Sharpness"> 
            <rng:ref name="exif.Sharpness.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.DeviceSettingDescription" combine="choice"> 
        <rng:element name="exif:DeviceSettingDescription"> 
            <rng:ref name="exif.DeviceSettings.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.SubjectDistanceRange" combine="choice"> 
        <rng:element name="exif:SubjectDistanceRange"> 
            <rng:ref name="exif.SubjectDistanceRange.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.ImageUniqueID" combine="choice"> 
        <rng:element name="exif:ImageUniqueID"> 
            <rng:ref name="ISO16684-1.Types.QValue.Text" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.GPSVersionID" combine="choice"> 
        <rng:element name="exif:GPSVersionID"> 
            <rng:ref name="ISO16684-1.Types.QValue.Text" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.GPSLatitude" combine="choice"> 
        <rng:element name="exif:GPSLatitude"> 
            <rng:ref name="exif.GPSCoordinate.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.GPSLongitude" combine="choice"> 
        <rng:element name="exif:GPSLongitude"> 
            <rng:ref name="exif.GPSCoordinate.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.GPSAltitudeRef" combine="choice"> 
        <rng:element name="exif:GPSAltitudeRef"> 
            <rng:ref name="exif.GPSAltitudeRef.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.GPSAltitude" combine="choice"> 
        <rng:element name="exif:GPSAltitude"> 
            <rng:ref name="ISO16684-1.Types.QValue.Rational" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.GPSTimeStamp" combine="choice"> 
        <rng:element name="exif:GPSTimeStamp"> 
            <rng:ref name="ISO16684-1.Types.QValue.Date" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.GPSSatellites" combine="choice"> 
        <rng:element name="exif:GPSSatellites"> 
            <rng:ref name="ISO16684-1.Types.QValue.Text" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.GPSStatus" combine="choice"> 
        <rng:element name="exif:GPSStatus"> 
            <rng:ref name="exif.GPSStatus.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.GPSMeasureMode" combine="choice"> 
        <rng:element name="exif:GPSMeasureMode"> 
            <rng:ref name="exif.GPSMeasureMode.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.GPSDOP" combine="choice"> 
        <rng:element name="exif:GPSDOP"> 
            <rng:ref name="ISO16684-1.Types.QValue.Rational" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.GPSSpeedRef" combine="choice"> 
        <rng:element name="exif:GPSSpeedRef"> 
            <rng:ref name="exif.GPSSpeedRef.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.GPSSpeed" combine="choice"> 
        <rng:element name="exif:GPSSpeed"> 
            <rng:ref name="ISO16684-1.Types.QValue.Rational" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.GPSTrackRef" combine="choice"> 
        <rng:element name="exif:GPSTrackRef"> 
            <rng:ref name="exif.GPSTrackRef.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.GPSTrack" combine="choice"> 
        <rng:element name="exif:GPSTrack">
            <!-- Can we validate range from 0 to 359.99? -->
            <rng:ref name="ISO16684-1.Types.QValue.Rational" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.GPSImgDirectionRef" combine="choice"> 
        <rng:element name="exif:GPSImgDirectionRef"> 
            <rng:ref name="exif.GPSImgDirectionRef.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.GPSImgDirection" combine="choice"> 
        <rng:element name="exif:GPSImgDirection">
            <!-- Can we validate range from 0 to 359.99? -->
            <rng:ref name="ISO16684-1.Types.QValue.Rational" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.GPSMapDatum" combine="choice"> 
        <rng:element name="exif:GPSMapDatum"> 
            <rng:ref name="ISO16684-1.Types.QValue.Text" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.GPSDestLatitude" combine="choice"> 
        <rng:element name="exif:GPSDestLatitude"> 
            <rng:ref name="exif.GPSCoordinate.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.GPSDestLongitude" combine="choice"> 
        <rng:element name="exif:GPSDestLongitude"> 
            <rng:ref name="exif.GPSCoordinate.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.GPSDestBearingRef" combine="choice"> 
        <rng:element name="exif:GPSDestBearingRef"> 
            <rng:ref name="exif.GPSDestBearingRef.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.GPSDestBearing" combine="choice"> 
        <rng:element name="exif:GPSDestBearing">
            <!-- Can we validate range from 0 to 359.99? -->
            <rng:ref name="ISO16684-1.Types.QValue.Rational" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.GPSDestDistanceRef" combine="choice"> 
        <rng:element name="exif:GPSDestDistanceRef"> 
            <rng:ref name="exif.GPSDestDistanceRef.QValue" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.GPSDestDistance" combine="choice"> 
        <rng:element name="exif:GPSDestDistance"> 
            <rng:ref name="ISO16684-1.Types.QValue.Text" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.GPSProcessingMethod" combine="choice"> 
        <rng:element name="exif:GPSProcessingMethod"> 
            <rng:ref name="ISO16684-1.Types.QValue.Text" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.GPSAreaInformation" combine="choice"> 
        <rng:element name="exif:GPSAreaInformation"> 
            <rng:ref name="ISO16684-1.Types.QValue.Text" />
        </rng:element>
    </rng:define>

    <rng:define name="exif.GPSDifferential" combine="choice"> 
        <rng:element name="exif:GPSDifferential"> 
            <rng:ref name="exif.GPSDifferential.QValue" />
        </rng:element>
    </rng:define>

    <!-- Local types -->
    <rng:define name="exif.ExifVersion.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.ExifVersion.Base" />
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.ExifVersion.Base" />
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.ExifVersion.Base" combine="choice">
        <rng:choice condition="$IsPDFA1">
            <rng:value type="string">0210</rng:value>
        </rng:choice>
        <rng:choice condition="$IsPDFA2 or $IsPDFA3">
            <rng:value type="string">0210</rng:value>
            <rng:value type="string">0220</rng:value>
        </rng:choice>
        <rng:choice condition="$IsPDFA4OrGreater">
            <rng:choice>
                <rng:value type="string">0210</rng:value>
                <rng:value type="string">0220</rng:value>
                <rng:value type="string">0230</rng:value>
            </rng:choice>
            <rng:ref name="ISO16684-1.Types.QValue.Text" />
        </rng:choice>
    </rng:define>

    <rng:define name="exif.FlashpixVersion.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.FlashpixVersion.Base" />
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.FlashpixVersion.Base" />
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.FlashpixVersion.Base" combine="choice">
        <rng:choice>
            <rng:value type="string">0100</rng:value>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.ColorSpace.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.ColorSpace.Base" />
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.ColorSpace.Base" />
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.ColorSpace.Base" combine="choice">
        <rng:choice>
            <rng:value type="integer">1</rng:value>
            <rng:value type="integer" condition="$IsPDFA1">-32786</rng:value>
            <rng:value type="integer" condition="$IsPDFA4OrGreater">65535</rng:value>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.ExposureProgram.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.ExposureProgram.Base" />
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.ExposureProgram.Base" />
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.ExposureProgram.Base" combine="choice">
        <rng:choice>
            <rng:value type="integer">0</rng:value>
            <rng:value type="integer">1</rng:value>
            <rng:value type="integer">2</rng:value>
            <rng:value type="integer">3</rng:value>
            <rng:value type="integer">4</rng:value>
            <rng:value type="integer">5</rng:value>
            <rng:value type="integer">6</rng:value>
            <rng:value type="integer">7</rng:value>
            <rng:value type="integer">8</rng:value>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.MeteringMode.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.MeteringMode.Base" />
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.MeteringMode.Base" />
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.MeteringMode.Base" combine="choice">
        <rng:choice>
            <rng:value type="integer">0</rng:value>
            <rng:value type="integer">1</rng:value>
            <rng:value type="integer">2</rng:value>
            <rng:value type="integer">3</rng:value>
            <rng:value type="integer">4</rng:value>
            <rng:value type="integer">5</rng:value>
            <rng:value type="integer">6</rng:value>
            <rng:value type="integer">255</rng:value>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.LightSource.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.LightSource.Base" />
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.LightSource.Base" />
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.LightSource.Base" combine="choice">
        <rng:choice>
            <rng:value type="integer">0</rng:value>
            <rng:value type="integer">1</rng:value>
            <rng:value type="integer">2</rng:value>
            <rng:value type="integer">3</rng:value>
            <rng:value type="integer" condition="$IsPDFA2OrGreater">4</rng:value>
            <rng:value type="integer" condition="$IsPDFA2OrGreater">9</rng:value>
            <rng:value type="integer" condition="$IsPDFA2OrGreater">10</rng:value>
            <rng:value type="integer" condition="$IsPDFA2OrGreater">11</rng:value>
            <rng:value type="integer" condition="$IsPDFA2OrGreater">12</rng:value>
            <rng:value type="integer" condition="$IsPDFA2OrGreater">13</rng:value>
            <rng:value type="integer" condition="$IsPDFA2OrGreater">14</rng:value>
            <rng:value type="integer" condition="$IsPDFA2OrGreater">15</rng:value>
            <rng:value type="integer" condition="$IsPDFA4OrGreater">16</rng:value> 
            <rng:value type="integer">17</rng:value>
            <rng:value type="integer">18</rng:value>
            <rng:value type="integer">19</rng:value>
            <rng:value type="integer">20</rng:value>
            <rng:value type="integer">21</rng:value>
            <rng:value type="integer">22</rng:value>
            <rng:value type="integer" condition="$IsPDFA2OrGreater">23</rng:value>
            <rng:value type="integer" condition="$IsPDFA2OrGreater">24</rng:value>
            <rng:value type="integer">255</rng:value>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.FocalPlaneResolutionUnit.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.FocalPlaneResolutionUnit.Base" />
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.FocalPlaneResolutionUnit.Base" />
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.FocalPlaneResolutionUnit.Base" combine="choice">
        <rng:choice>
            <rng:value type="integer">2</rng:value>
            <rng:value type="integer">3</rng:value>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.SensingMethod.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.SensingMethod.Base" />
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.SensingMethod.Base" />
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.SensingMethod.Base" combine="choice">
        <rng:choice>
            <rng:value type="integer">1</rng:value>
            <rng:value type="integer">2</rng:value>
            <rng:value type="integer">3</rng:value>
            <rng:value type="integer">4</rng:value>
            <rng:value type="integer">5</rng:value>
            <rng:value type="integer">6</rng:value>
            <rng:value type="integer">7</rng:value>
            <rng:value type="integer">8</rng:value>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.FileSource.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.FileSource.Base" />
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.FileSource.Base" />
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.FileSource.Base" combine="choice">
        <rng:choice>
            <rng:value type="integer" condition="$IsPDFA4OrGreater">0</rng:value>
            <rng:value type="integer" condition="$IsPDFA4OrGreater">1</rng:value>
            <rng:value type="integer" condition="$IsPDFA4OrGreater">2</rng:value>
            <rng:value type="integer" condition="$IsPDFA1 or $IsPDFA2 or $IsPDFA3">3</rng:value>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.SceneType.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.SceneType.Base" />
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.SceneType.Base" />
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.SceneType.Base" combine="choice">
        <rng:choice>
            <rng:value type="integer">1</rng:value>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.CustomRendered.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.CustomRendered.Base" />
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.CustomRendered.Base" />
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.CustomRendered.Base" combine="choice">
        <rng:choice>
            <rng:value type="integer">0</rng:value>
            <rng:value type="integer">1</rng:value>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.ExposureMode.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.ExposureMode.Base" />
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.ExposureMode.Base" />
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.ExposureMode.Base" combine="choice">
        <rng:choice>
            <rng:value type="integer">0</rng:value>
            <rng:value type="integer">1</rng:value>
            <rng:value type="integer">2</rng:value>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.WhiteBalance.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.WhiteBalance.Base" />
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.WhiteBalance.Base" />
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.WhiteBalance.Base" combine="choice">
        <rng:choice>
            <rng:value type="integer">0</rng:value>
            <rng:value type="integer">1</rng:value>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.SceneCaptureType.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.SceneCaptureType.Base" />
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.SceneCaptureType.Base" />
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.SceneCaptureType.Base" combine="choice">
        <rng:choice>
            <rng:value type="integer">0</rng:value>
            <rng:value type="integer">1</rng:value>
            <rng:value type="integer">2</rng:value>
            <rng:value type="integer">3</rng:value>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.GainControl.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.GainControl.Base" />
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.GainControl.Base" />
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.GainControl.Base" combine="choice">
        <rng:choice>
            <rng:value type="integer">0</rng:value>
            <rng:value type="integer">1</rng:value>
            <rng:value type="integer">2</rng:value>
            <rng:value type="integer">3</rng:value>
            <rng:value type="integer">4</rng:value>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.Contrast.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.Contrast.Base" />
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.Contrast.Base" />
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.Contrast.Base" combine="choice">
        <rng:choice>
            <rng:value type="integer">0</rng:value>
            <rng:value type="integer">1</rng:value>
            <rng:value type="integer">2</rng:value>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.Saturation.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.Saturation.Base" />
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.Saturation.Base" />
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.Saturation.Base" combine="choice">
        <rng:choice>
            <rng:value type="integer">0</rng:value>
            <rng:value type="integer">1</rng:value>
            <rng:value type="integer">2</rng:value>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.Sharpness.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.Sharpness.Base" />
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.Sharpness.Base" />
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.Sharpness.Base" combine="choice">
        <rng:choice>
            <rng:value type="integer">0</rng:value>
            <rng:value type="integer">1</rng:value>
            <rng:value type="integer">2</rng:value>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.SubjectDistanceRange.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.SubjectDistanceRange.Base" />
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.SubjectDistanceRange.Base" />
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.SubjectDistanceRange.Base" combine="choice">
        <rng:choice>
            <rng:value type="integer">0</rng:value>
            <rng:value type="integer">1</rng:value>
            <rng:value type="integer">2</rng:value>
            <rng:value type="integer">3</rng:value>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.GPSAltitudeRef.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.GPSAltitudeRef.Base" />
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.GPSAltitudeRef.Base" />
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.GPSAltitudeRef.Base" combine="choice">
        <rng:choice>
            <rng:value type="integer">0</rng:value>
            <rng:value type="integer">1</rng:value>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.GPSStatus.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.GPSStatus.Base" />
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.GPSStatus.Base" />
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.GPSStatus.Base" combine="choice">
        <rng:choice>
            <rng:value type="string">A</rng:value>
            <rng:value type="string">V</rng:value>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.GPSMeasureMode.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.GPSMeasureMode.Base" />
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.GPSMeasureMode.Base" />
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.GPSMeasureMode.Base" combine="choice">
        <rng:choice>
            <rng:value type="integer">2</rng:value>
            <rng:value type="integer">3</rng:value>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.GPSSpeedRef.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.GPSSpeedRef.Base" />
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.GPSSpeedRef.Base" />
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.GPSSpeedRef.Base" combine="choice">
        <rng:choice>
            <rng:value type="string">K</rng:value>
            <rng:value type="string">M</rng:value>
            <rng:value type="string">N</rng:value>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.GPSTrackRef.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.GPSTrackRef.Base" />
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.GPSTrackRef.Base" />
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.GPSTrackRef.Base" combine="choice">
        <rng:choice>
            <rng:value type="string">T</rng:value>
            <rng:value type="string">M</rng:value>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.GPSImgDirectionRef.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.GPSImgDirectionRef.Base" />
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.GPSImgDirectionRef.Base" />
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.GPSImgDirectionRef.Base" combine="choice">
        <rng:choice>
            <rng:value type="string">T</rng:value>
            <rng:value type="string">M</rng:value>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.GPSDestBearingRef.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.GPSDestBearingRef.Base" />
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.GPSDestBearingRef.Base" />
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.GPSDestBearingRef.Base" combine="choice">
        <rng:choice>
            <rng:value type="string">T</rng:value>
            <rng:value type="string">M</rng:value>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.GPSDestDistanceRef.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.GPSDestDistanceRef.Base" />
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.GPSDestDistanceRef.Base" />
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.GPSDestDistanceRef.Base" combine="choice">
        <rng:choice>
            <rng:value type="string">K</rng:value>
            <rng:value type="string">M</rng:value>
            <rng:value type="string">N</rng:value>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.GPSDifferential.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.GPSDifferential.Base" />
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.GPSDifferential.Base" />
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.GPSDifferential.Base" combine="choice">
        <rng:choice>
            <rng:value type="integer">0</rng:value>
            <rng:value type="integer">1</rng:value>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.GPSCoordinate.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.GPSCoordinate.Base" />
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.GPSCoordinate.Base" />
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.GPSCoordinate.Base" combine="choice">
        <rng:data type="string">
            <rng:param name="pattern">(\d{1,3},\d{1,2},\d{1,2}[NSEW])|(\d{1,3},\d{1,2}\.\d+[NSEW])</rng:param>
        </rng:data>
    </rng:define>

    <rng:define name="exif.Flash.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.Flash.Base"/>
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.Flash.Base"/>
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.Flash.Base" combine="choice">
        <rng:element name="rdf:Description">
            <rng:interleave>
                <rng:optional>
                    <rng:ref name="exif.Flash.Fired"/>
                </rng:optional>
                <rng:optional>
                    <rng:ref name="exif.Flash.Return"/>
                </rng:optional>
                <rng:optional>
                    <rng:ref name="exif.Flash.Mode"/>
                </rng:optional>
                <rng:optional>
                    <rng:ref name="exif.Flash.Function"/>
                </rng:optional>
                <rng:optional>
                    <rng:ref name="exif.Flash.RedEyeMode"/>
                </rng:optional>
            </rng:interleave>
        </rng:element>
    </rng:define>

    <rng:define name="exif.Flash.Fired" combine="choice">
        <rng:element name="exif:Fired">
            <rng:ref name="ISO16684-1.Types.QValue.Boolean"/>
        </rng:element>
    </rng:define>

    <rng:define name="exif.Flash.Return" combine="choice">
        <rng:element name="exif:Return">
            <rng:ref name="exif.Flash.Return.QValue"/>
        </rng:element>
    </rng:define>

    <rng:define name="exif.Flash.Mode" combine="choice">
        <rng:element name="exif:Mode">
            <rng:ref name="exif.Flash.Mode.QValue"/>
        </rng:element>
    </rng:define>

    <rng:define name="exif.Flash.Function" combine="choice">
        <rng:element name="exif:Function">
            <rng:ref name="ISO16684-1.Types.QValue.OrderedArray.Boolean"/>
        </rng:element>
    </rng:define>

    <rng:define name="exif.Flash.RedEyeMode" combine="choice">
        <rng:element name="exif:RedEyeMode">
            <rng:ref name="ISO16684-1.Types.QValue.OrderedArray.Boolean"/>
        </rng:element>
    </rng:define>

    <rng:define name="exif.Flash.Return.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.Flash.Return.Base"/>
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.Flash.Return.Base"/>
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.Flash.Return.Base" combine="choice">
        <rng:choice>
            <rng:value type="integer">0</rng:value>
            <rng:value type="integer">1</rng:value>
            <rng:value type="integer">2</rng:value>
            <rng:value type="integer">3</rng:value>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.Flash.Mode.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.Flash.Mode.Base"/>
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.Flash.Mode.Base"/>
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.Flash.Mode.Base" combine="choice">
        <rng:choice>
            <rng:value type="integer">0</rng:value>
            <rng:value type="integer">1</rng:value>
            <rng:value type="integer">2</rng:value>
            <rng:value type="integer">3</rng:value>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.OECF_SFR.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.OECF_SFR.Base"/>
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.OECF_SFR.Base"/>
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>
    <rng:define name="exif.OECF_SFR.Base" combine="choice">
        <rng:element name="rdf:Description">
            <rng:interleave>
                <rng:optional>
                    <rng:ref name="exif.OECF_SFR.Columns"/>
                </rng:optional>
                <rng:optional>
                    <rng:ref name="exif.OECF_SFR.Rows"/>
                </rng:optional>
                <rng:optional>
                    <rng:ref name="exif.OECF_SFR.Names"/>
                </rng:optional>
                <rng:optional>
                    <rng:ref name="exif.OECF_SFR.Values"/>
                </rng:optional>
            </rng:interleave>
        </rng:element>
    </rng:define>

    <rng:define name="exif.OECF_SFR.Columns" combine="choice">
        <rng:element name="exif:Columns">
            <rng:ref name="ISO16684-1.Types.QValue.Integer"/>
        </rng:element>
    </rng:define>

    <rng:define name="exif.OECF_SFR.Rows" combine="choice">
        <rng:element name="exif:Rows">
            <rng:ref name="ISO16684-1.Types.QValue.Integer"/>
        </rng:element>
    </rng:define>

    <rng:define name="exif.OECF_SFR.Names" combine="choice">
        <rng:element name="exif:Names">
            <rng:ref name="ISO16684-1.Types.QValue.OrderedArray.Text"/>
        </rng:element>
    </rng:define>

    <rng:define name="exif.OECF_SFR.Values" combine="choice">
        <rng:element name="exif:Values">
            <rng:ref name="ISO16684-1.Types.QValue.OrderedArray.Rational"/>
        </rng:element>
    </rng:define>

    <rng:define name="exif.CFAPattern.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.CFAPattern.Base"/>
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.CFAPattern.Base"/>
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.CFAPattern.Base" combine="choice">
        <rng:element name="rdf:Description">
            <rng:interleave>
                <rng:optional>
                    <rng:ref name="exif.CFAPattern.Columns"/>
                </rng:optional>
                <rng:optional>
                    <rng:ref name="exif.CFAPattern.Rows"/>
                </rng:optional>
                <rng:optional>
                    <rng:ref name="exif.CFAPattern.Names"/>
                </rng:optional>
            </rng:interleave>
        </rng:element>
    </rng:define>

    <rng:define name="exif.CFAPattern.Columns" combine="choice">
        <rng:element name="exif:Columns">
            <rng:ref name="ISO16684-1.Types.QValue.Integer"/>
        </rng:element>
    </rng:define>

    <rng:define name="exif.CFAPattern.Rows" combine="choice">
        <rng:element name="exif:Rows">
            <rng:ref name="ISO16684-1.Types.QValue.Integer"/>
        </rng:element>
    </rng:define>

    <rng:define name="exif.CFAPattern.Names" combine="choice">
        <rng:element name="exif:Names">
            <rng:ref name="ISO16684-1.Types.QValue.OrderedArray.Integer"/>
        </rng:element>
    </rng:define>

    <rng:define name="exif.DeviceSettings.QValue" combine="choice">
        <rng:choice>
            <rng:ref name="exif.DeviceSettings.Base"/>
            <rng:element name="rdf:Description">
                <rng:element name="rdf:value">
                    <rng:ref name="exif.DeviceSettings.Base"/>
                </rng:element>
            </rng:element>
        </rng:choice>
    </rng:define>

    <rng:define name="exif.DeviceSettings.Base" combine="choice">
        <rng:element name="rdf:Description">
            <rng:interleave>
                <rng:optional>
                    <rng:ref name="exif.DeviceSettings.Columns"/>
                </rng:optional>
                <rng:optional>
                    <rng:ref name="exif.DeviceSettings.Rows"/>
                </rng:optional>
                <rng:optional>
                    <rng:ref name="exif.DeviceSettings.Settings"/>
                </rng:optional>
            </rng:interleave>
        </rng:element>
    </rng:define>

    <rng:define name="exif.DeviceSettings.Columns" combine="choice">
        <rng:element name="exif:Columns">
            <rng:ref name="ISO16684-1.Types.QValue.Integer"/>
        </rng:element>
    </rng:define>

    <rng:define name="exif.DeviceSettings.Rows" combine="choice">
        <rng:element name="exif:Rows">
            <rng:ref name="ISO16684-1.Types.QValue.Integer"/>
        </rng:element>
    </rng:define>

    <rng:define name="exif.DeviceSettings.Settings" combine="choice">
        <rng:element name="exif:Settings">
            <rng:ref name="ISO16684-1.Types.QValue.OrderedArray.Text"/>
        </rng:element>
    </rng:define>

</rng:grammar>