testdata/xmp-rng/XMP_Properties-exif_aux.rng

<?xml version="1.0" encoding="utf-8"?>
<!-- SPDX-FileCopyrightText: (C) 2025 Francesco Pretto <ceztko@gmail.com> -->
<!-- SPDX-License-Identifier: MIT OR LicenseRef-ISO16684_2-2014-schema -->

<rng:grammar xmlns:aux="http://ns.adobe.com/exif/1.0/aux/" xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:stRef="http://ns.adobe.com/xap/1.0/sType/ResourceRef#" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <rng:include href="ISO16684-1_Types-Simple.rng"/>
    <rng:include href="ISO16684-1_Types-Array.rng"/>
    <rng:include href="ISO16684-1_Types-Structure.rng"/>

    <rng:define name="XMP_Properties-exif_aux" combine="choice">
        <rng:interleave>
            <rng:optional>
                <rng:ref name="aux.Lens"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="aux.SerialNumber"/>
            </rng:optional>
        </rng:interleave>
    </rng:define>

    <rng:define name="aux.Lens" combine="choice">
        <rng:element name="aux:Lens">
            <rng:ref name="ISO16684-1.Types.QValue.Text" />
        </rng:element>
    </rng:define>

    <rng:define name="aux.SerialNumber" combine="choice">
        <rng:element name="aux:SerialNumber">
            <rng:ref name="ISO16684-1.Types.QValue.Text" />
        </rng:element>
    </rng:define>
</rng:grammar>